* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    align-items: center;
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(to bottom, #79acd1, white);
padding-bottom: 30px;
}

.logo {
    font-size: xx-large;
    color: #4A99D3;
    font-weight: bold;
}

.nav {
    font-size: larger;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    text-decoration: none;
    gap: 40px;
    justify-content: space-between;
    padding: 0 25px;
}

.nav-link a {
    font-size: large;
    color: black;
    text-decoration: none;
}

.nav-link a:hover {
    color: #4A99D3;
}
.hero{
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}
.hero .box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}
.box h2{
 font-size: 3rem;
}
.box .img{
    padding-top: 10px;
    display: flex;
    gap: 20px;
}
.box p{
    font-size: 1rem;
    text-transform: capitalize;
    text-align: justify;
    padding-right: 20px;
    /* margin: 10px; */
}
.main{
    width: 100%;
    /* margin: auto; */
/* padding-top: 10%; */
display: flex;
flex-direction: row;
justify-content: space-around;
/* display: flex; */
/* float: left; */
}
.main-sec{
    width: 60%;
    font-size: 2rem;
}
.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0.5px 3px 3px 1px rgba(0, 0, 0, 0.1); /* Added a valid box-shadow */
}

.fullwidth{
    
    background-color: #7cbeece5;
}
.info{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.section{
 display: flex;

 flex-direction: row;
 justify-content: space-around;
}
.fullwidth .container{
    padding: 30px;

}
.fullwidth .container .logo{
    padding: 30px;
 text-align: center;
}
